@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: #6E5C62;
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    display: grid;
    justify-content: center;
    text-align: center;
    border-radius: 15px;

}

.button {
    padding: 3px 20px;
    background-color: #fff;
    font-size: 25px;
    margin: 10px;
    border-radius: 5px;
    font-weight: 800;
    text-transform: uppercase;
    color: #6E5C62;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    transition: transform .5s ease-in-out, color .5s ease-in-out;
    cursor: pointer;
}

.button>i {
    margin-right: 10px;
}

.button:hover {
    color: #3AA394;
    transform: scale(1.3);
}

.palavra {
    display: flex;
}

.campo>input {
    font-size: 35px;
    border: 4px solid #4C4347;
    color: #fff;
    margin: 1.5px;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    text-align: center;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
    caret-color: transparent;
    font-weight: 700;
}

.campo>input:focus {
    box-shadow: inset 0 -4px 0 0 #4C4347;
}

.disabled>.campo>input {
    background-color: #615458 !important;
    border: 4px solid #615458;
}

header {
    background-color: #222222;
    width: 100%;
    padding: 5px 0;
}

.container-header {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    font-size: 15px;
    font-weight: 600;
}

.container-info {
    color: #fff;
    max-width: 750px;
    font-size: 25px;
}

.container-info h2 {
    text-align: center;
    margin-bottom: 30px;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons a {
    color: #fff;
    font-size: 40px;
    margin: 15px;
}

.center {
    text-align: center;
    margin-top: 15px;
}


.alert {
    background-color: #0199FD;
    padding: 5px 25px 7px 25px;
    text-transform: none;
    font-weight: bold;
    border-radius: 7px;
    position: absolute;
    top: 55px;
    width: 250px;
}

.d-none {
    display: none !important;
}

.content-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    width: 100%;
}

.btn {
    cursor: pointer;
    font-size: 20px;
    color: #fff;
}

.errada>input {
    background-color: #312A2C !important;
    border: 4px solid #312A2C !important;
}

.existe>input {
    background-color: #D3AD69 !important;
    border: 4px solid #D3AD69 !important;
}

.certo>input {
    background-color: #3AA394 !important;
    border: 4px solid #3AA394 !important;
}

.background-modal {
    background-color: rgba(0, 0, 0, 0.815);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: showBackgroundModal .5s ease-in-out;
}

.modal {
    width: 75%;
    max-height: 600px;
    background-color: #312B2D;
    border-radius: 7px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    color: #BBBBBB;
    position: relative;
    overflow: auto;
    animation: showModal 1s ease-in-out;
}

.close {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

.container-modal {
    padding: 30px 20px 10px 20px;
    font-size: 25px;
}
.container-modal h2{
    margin-bottom: 15px;
    color: #fff;
}

.icon-again {
    width: auto;
    height: 25px;
    color: white;
    margin: 20px 0 10px;
}

.icon-again:hover {
    animation: rotate 1s;
}

.resposta{
    color: #3AA394 !important;
}

.m-0{
    margin: 0 !important;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes wrong {
    0% {
        transform: translateX(20px);
    }

    25% {
        transform: translateX(-20px);
    }

    50% {
        transform: translateX(20px);
    }

    75% {
        transform: translateX(-20px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes tap {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes showBackgroundModal {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes exitBackgroundModal {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes showModal {
    0% {
        transform: translatey(-220px);
        opacity: 0;
    }

    100% {
        transform: translatey(0);
        opacity: 1;
    }
}

@keyframes exitModal {
    0% {
        transform: translatey(0);
        opacity: 1;
    }

    100% {
        transform: translatey(-220px);
        opacity: 0;
    }
}